.
# gitignore style patterns are used
# https://docs.github.com/articles/aboutdoc
/script/ @github/docs
/includes/ @github/docs
Dockerfile @github/docs


# Site Policy
/content/github/site-policy/ @github/site-policy

# Content strategy
/contributing/content-markup-reference.md @github/docs-content-strategy
/contributing/content-style-guide.md @github/docs-content-strategy
/contributing/content-model.md @github/docs-content-strategy
/contributing/content-style-guide.md @github/docs-content-strategy
/contributing/content-templates.md @github/docs-content-strategy

# Make sure that Octokit maintainers get block about changes
# relevant to the Octokit libraries (https://github.com/octokit)
/content/rest/reference @github/octokit-maintainers
